.task-item-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.task-item {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
}

.task-item span {
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-btn {
    background-color: red;
    /* Red (danger) for Delete button */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: darkred;
    /* Darker red on hover */
}

input[type="checkbox"] {
    position: absolute;
    left: -30px;
    /* Position checkbox outside of the container */
}