.App {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  /* background-color: rgb(158, 207, 190); */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}